<h3 class="user-login"> User Login Details</h3>
<p class="fil-dtl">Please fill your login detail below</p>
<div class="form-inner">
    <form class="well">
        <div class="input-holder">
            <div class="input-box">

                <input class="email" type="text" name="email" ng-model="username" placeholder="Email"/>
            </div>
            <div class="input-box">
                <input class="password" type="password" name="password" ng-model="password" placeholder="Password"/>
            </div>
        </div>
        <p class="error">{{error}}</p>
        <input class="login-button" type="button" value="Login" ng-click="saveAttendence()"/>
    </form>
</div>